[mysqld]
symbolic-links= 0
local-infile = 0
max_connections = 30
wait_timeout = 30
innodb_buffer_pool_size = 512M
max_allowed_packet = 32M
sql_mode=""
# plugin-load-add = auth_socket.so #foi necessário adicionar para o ubuntu

#long-query-time = 5
slow_query_log = 1
slow-query-log-file = /var/log/mysql/mysql_slow.log

# Error log
log-error=/var/log/mysql/mysqld_error.log